fastapi
uvicorn[standard]
pydantic
pydantic[email]
scikit-learn
pandas
numpy
nltk
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0+cpu
SQLAlchemy
python-multipart
google-api-python-client
google-auth
python-dateutil
